<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 news-navbar">
            <h2>news.com</h2>
        </div>
    </div>
</div>
<h2 class="title-news">{{newsTitleText}}</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3 background-white">
        <ul class="all-news">
            <li *ngFor="let news of allNews" [class.selected]="news === selectedNews" (click)="onSelect(news)">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 subtitle-news">
                        <div>{{news.date}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 subtitle-news">
                        <div>{{news.title}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <img class="img-news" src="{{news.url}}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="part-text">{{news.body}}</div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>


<modal #detailsNews id="newsModal" [show-modal]="selectedNews">
    <div class="popup-content news-popup-info">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div *ngIf="selectedNews" class="padding-20">

                    <h4>{{ selectedNews.title | uppercase }} Details</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <img class="img-news-popup" src="{{selectedNews.url}}" />
                        </div>
                    </div>

                    <div class="row margin-10-top">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            {{selectedNews.body}}
                        </div>
                    </div>
                    <div class="row margin-10-top">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <button class="btn cancel btn-default" aria-label="Close" (click)="detailsNews.hide()">
                                {{cancelBtnText}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal>